[Desktop Entry]
Name=Mouse Disc
Comment=Radial menu for quick shortcuts
Exec=mouse-disc
Icon=input-mouse
Type=Application
Categories=System;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
